

    body{
    background-color: black;
}

#container{
    background-color: rgb(31, 31, 31);
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

img{
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
}

h1{
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    background-color: rgb(51, 51, 51);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}